:host {
    display: none;
    margin: 0 50px;
    min-height: 50vh;
    font-size: large;
}

main {
    color: white;
    text-align: center;
    margin: 50px auto;
}

h1 {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    margin-bottom: 50px;
}

p {
    line-height: 2;
}

a {
    color: currentColor;
}

@media (max-width: 480px) {
    :host {
        margin: 0 30px;
    }
}