:host {
    display: none;
    margin: 0 50px;
    min-height: 50vh;
    font-size: large;

    color: white;
    text-align: center;
}

header {
    margin-top: 50px;
}

footer {
    margin-bottom: 50px;
}

main section {
    display: none;
}

h1 {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    margin-bottom: 50px;
}

p {
    line-height: 2;
}

main p::before {
    content: "⚠️ ";
}

footer p::before, main p:last-child::before {
    content: "💰 ";
}

a {
    color: currentColor;
}

@media (max-width: 480px) or (max-height: 480px) {
    :host {
        margin: 0 30px;
    }
}