:host {
    display: none;
    font-size: medium;
    color: white;
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 200;
}

iframe {
    display: none;
    border: none;
    width: 150px;
    height: 50px;
    background-color: white;
    animation: music 0s ease-in;
    border-radius: 5px;
}

svg {
    width: 50px;
    font-size: 5px;
    cursor: default;

    background-image: radial-gradient(transparent, rgba(0, 0, 0, 20%));
    border-radius: 50%;
    padding: 2px;
}

aside:hover > svg {
    display: none;
}

aside:hover > iframe {
    display: block;
}

@keyframes music {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}