:host {
    display: none;
    margin: 0 50px;
    min-height: 50vh;
    font-size: large;
    color: white;
}

main, footer {
    display: none;
}

li.selected {
    color: blue;
}

li.correct {
    background-color: green;
}

li.wrong {
    background-color: red;
}

button.correct {
    color: green;
}

button.wrong {
    color: red;
}

@media (max-width: 480px) {
    :host {
        margin: 0 30px;
    }
}