:host {
    display: none;
    margin: 0 50px;
    min-height: 50vh;
    font-size: large;
}

header {
    color: white;
    text-align: center;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    margin-top: 50px;
}

main, footer {
    display: none;
    background-color: rgba(255, 255, 255, 70%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    color: currentColor;
    margin: 50px auto;

    padding: 30px;
    max-width: 700px;
    box-sizing: border-box;
}

main h4 {
    margin: 0 0 10px;
    font-size: x-large;
}

main aside {
    margin: 10px;
}

main section:first-child {
    text-align: center;
}

main section:nth-child(2) {
    margin: 50px 30px;
}

main section:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p {
    font-size: larger;
}

code {
    font-weight: bold;
}

ol {
    list-style-type: "🔲";
    padding: 0;
}

li {
    padding-left: 10px;
    margin: 20px;
    cursor: pointer;
}

li.selected {
    list-style-type: "✔️";
}

li.correct, li.wrong {
    cursor: default;
    opacity: 0.5;
}

button {
    background-color: #1f8197;
    border: 0;
    padding: 5px 20px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 1em;
}

button.correct::before {
    content: "👍🏼";
    margin-right: 10px;
}

button.wrong::before {
    content: "👎🏼";
    margin-right: 10px;
}

button.correct {
    background-color: green;
}

button.wrong {
    background-color: red;
}

@media (max-width: 480px) {
    :host {
        margin: 0 30px;
    }

    header h1 {
        font-size: 1.5em;
    }

    header h2 {
        font-size: 1.2em;
    }

    header h3 {
        font-size: 1em;
    }

    main section:nth-child(2) {
        margin: 50px 20px;
    }

    aside button {
        font-size: 0.7em;
    }
}