:host {
    display: none;
    margin: 0 50px;
    min-height: 50vh;
    font-size: large;
}

header {
    color: white;
    text-align: center;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

main, footer {
    display: none;
    background-color: rgba(255, 255, 255, 70%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    color: currentColor;
    margin: 50px auto;

    padding: 30px;
    max-width: 700px;
    box-sizing: border-box;
}

main h4 {
    margin: 0 0 10px;
    font-size: x-large;
}

main aside {
    margin: 10px;
}

main section:first-child {
    text-align: center;
}

main section:nth-child(2) {
    margin: 50px 30px;
}

main section:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

code {
    font-weight: bold;
}

li.selected {
    color: blue;
}

li.correct {
    background-color: green;
}

li.wrong {
    background-color: red;
}

button.correct {
    color: green;
}

button.wrong {
    color: red;
}

@media (max-width: 480px) {
    :host {
        margin: 0 30px;
    }

    main section:nth-child(2) {
        margin: 50px 20px;
    }
}